<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div style="display: flex;
                      flex-direction: column;
                      align-items: center;" role="alert">
                Sorry, there's nothing at this address.
                <div style="display:flex;
                            justify-content: space-evenly;
                            width: -webkit-fill-available;
                            width: -moz-available;">
                    <a href="/">Home</a>
                    <a href="/gen">Generate</a>
                </div>
            </div>
            
        </LayoutView>
    </NotFound>
</Router>
